/* celeste #00ace6 rosa #e91e63 */
.footer{
	background-color: #1b1b1b;
    padding:10px 10px 30px 30px;
}
.container{
	max-width: 1140px;
	margin:auto;
}
.rowFooter{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
ul{	
	list-style: none;
}

.footerCol{
   width: 30%;
   padding-left: 60px;
}
.title{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.title::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: cyan;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
li:not(:last-child){
	margin-bottom: 7px;
}
.about{
	font-size: 16px;	
	color: #d1d1d1;
}
.link{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #d1d1d1;
	display: block;
	transition: all 0.3s ease;
}
.link:hover{
	color: cyan;
	padding-left: 8px;
}
.linkSocial{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 35px;
	padding: 1.5px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.linkSocial:hover{
	color: #24262b;
	background-color: cyan;
}
.textCopy{
	width: 100%;
	background: #0f0f0f;
	padding: 1px 0px;
	text-align: center;
	color: #999;
	font-size: 0.8rem;
}
/*responsive*/
@media(max-width: 950px){
	.title{
		color: rgb(20, 167, 167);
		position: static;
	}
	.title::before{
		display: none;
	}
	
  }
@media(max-width: 767px){
	
  .footerCol{
	padding-left: 30px;
    width: 90%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footerCol{
    width: 100%;
}
}





