@import url("Variables.css");

.backHome{
  /*     background-color: white; */
  background-image:url(../images/ros4.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 70%; 
  height: 55rem;
  margin-left:260px ;
}
.card{
  background-color: white;
  width: 100%;
  height: 100%;
  margin-top: 40px ;
  border-radius: 7px;
  padding:20px 50px ;
}

.cardHome{
  background-color:rgb(255, 255, 255) ;
  width: 60%;
  height: fit-content;
  margin-top: 50px;
  padding: 20px;
  border-radius: 7px;
  text-decoration: none;
}
.cardHomeDriver{
  background-color:rgb(255, 255, 255) ;
  width: 60%;
  height: fit-content;
  margin-top: 20px;
  padding: 10px;
  border-radius: 7px;
  text-decoration: none;
}

@media (max-width: 950px) {
  .backHome{    
    margin-left:0px ;
  }
  .cardHome{
    width: 98%;
    height: fit-content;
    margin-top: 20px;
    
  }
  .cardHomeDriver{
    width: 98%;
    height: fit-content;
    margin-top: 20px;
  }
}