@import url("Variables.css");

.cardForm{
    text-align: center;
    background-color:rgb(255, 255, 255) ;
    padding: 20px;
    border-radius: 7px;
    text-decoration: none;
    width: 60%;
    height: fit-content;
    margin-top: 50px;
}
.cardElement{
    color: black;
    margin: 10px 0px;
    padding: 10px;
    border-radius:2px;
    background-color: white;
    transition: all ease 0.3s;
    box-shadow: 0 2px 6px rgb(95 108 114 / 35%), 0 0 6px rgb(95 108 114 / 5%);}
/* .cardElement:hover{
    color: white;
    opacity: 1.5;
    background: rgb(0, 56, 56);
    cursor: pointer;
} */

@media (max-width:950px) {
    .cardForm{
      margin: 10px;
      padding: 10px 4px 0px 4px;
      width: 98%;
      height: fit-content;
      margin-top: 20px;
    }
    .cardElement{
        margin: 4px 0px;
    }}